@{
    ViewData["Title"] = "Currency Converter";
}
<h1>@ViewData["Title"]</h1>

<p>
    The system allow for conversion of the following
    currencies (USD, EUR,  GBP, HKD & KES) with ZAR as a base.
</p>
